<% layout('./layout/boilerplate') %>
<link rel="stylesheet" href="/css/register.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
   
<div class="container ">
<div class="card" style="width: 42rem;">
   <div class="card-body text-center">
    <h5 class="card-title">Register</h5>
    <form action="/register" method="POST" class="needs-validation" novalidate>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Username:</span>
            <input type="text" class="form-control" name="username"aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
            <p class="invalid-feedback">
              Please enter a username
            </p>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Password:</span>
            <input type="password" class="form-control"name="password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
            <p class="invalid-feedback">
              Please enter a password
            </p>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Email:</span>
            <input type="email" class="form-control" name="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
            <p class="invalid-feedback">
              Please enter a valid email
            </p>
          </div>
          <button class="btn btn-primary btn-success ">Register</button>
    </form>
    </div>
  <script src="/js/validateForm.js"></script>
  </div>
</div>
</body>
