
.home-btn{
    background-image: url('../img/navbar.png');
    background-size: cover; 
    background-repeat: no-repeat;
}
body{
    background-image:url('https://images.unsplash.com/photo-1552422535-c45813c61732?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    color: white;
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

