 .lyrics{
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
    line-height: 2em;
  }

input{
    border: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgb(38,57,77) 0 20px 30px -10px;
    box-sizing: border-box;
    background-color: #383737;
    color: white;
}

p{
  color: #fff;
  font-weight: normal;
  font-family: "Titillium Web", sans-serif;
  text-shadow: 
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 30px #fab486,
    0 0 50px #fab486,
    0 0 70px #fab486,
    0 0 90px #fab486;
}
h3{
  color: #fab486;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  text-align: center;

}


body{
  background-image: url(../img/music.jpg);
  background-size: 100%;

}
.container{
  text-align: center;
}
#header{
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: bold;
  color: #fff;
  text-shadow: 
  0 0 4px #fff,
  0 0 10px #fff,
  0 0 30px #fab486,
  0 0 50px #fab486,
  0 0 70px #fab486,
  0 0 90px #fab486;
}

label{
  color: #fff;
font-weight: bold;
text-shadow: 
0 0 4px #fff,
0 0 10px #fff,
0 0 30px #fab486,
0 0 50px #fab486,
0 0 70px #fab486,
0 0 90px #fab486;
font-family: "Titillium Web", sans-serif;
width: 150px;
}
.glow-on-hover {
  width: 100px;
  font-family: "Titillium Web", sans-serif;
  height: 25px;
  border: none;
  outline: none;
  color: #fff;
  text-shadow: 
  0 0 4px #fff,
  0 0 10px #fff,
  0 0 30px #fab486,
  0 0 50px #fab486,
  0 0 70px #fab486,
  0 0 90px #fab486;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}